body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: blue;
    text-align: center;
    position: absolute;
    top: 10px;
}

img {
    width: 700px;
    height: 900px;
}

#retrieveInvoice {
    padding: 10px 0px;
}

#homeButton {
    padding: 10px 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
}

.file-upload-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    }

.file-upload-button:hover {
    background-color: #45a049;
    }

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.date-query-container {
    height: 400px;
    overflow: auto;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    font-family: Arial, sans-serif;
    color: #333;
}

th, td {
    padding: 8px;
    border: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #e6e6e6;
}